@font-face {
    font-family: Bodoni MT;
    src: url('./Bodoni_MT_Regular.ttf');
}

:root {
    --primary: #800020;
    --primary-hover: #33000D;
    --secondary: #767522;
    --secondary-hover: #28270B;
    --secondary-dark: #474747;
    --white: #FFFFF5;
    --black: #140005;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

h1 {
    font-size: 64px;
    color: var(--white);
    text-shadow: 2px 2px 4px var(--black);
    font-family: Bodoni MT;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    color: #FFF;
    font-family: Bodoni MT;
}

h3 {
    color: var(--primary);
    font-family: "Bodoni MT";
    font-size: 40px;
    font-weight: 500;
}

h5 {
    color: var(--primary);
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
}

.primary-btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--primary);
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

.text-btn {
    background: none;
    border: none;
    color: var(--secondary);
    font-size: 24;
    font-weight: 500;
    text-decoration: none;
}

.text-btn:hover {
    color: var(--secondary-hover);
}

.section-header {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.copyright {
    width: 100%;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
}


@media (max-width: 768px) {
    h1 {
        font-size: 56px;
        color: var(--white);
        text-shadow: 2px 2px 4px var(--black);
        font-family: Bodoni MT;
        font-weight: 700;
    }

    h2 {
        font-size: 40px;
        color: #FFF;
        font-family: Bodoni MT;
    }

    h3 {
        color: var(--primary);
        font-family: "Bodoni MT";
        font-size: 32px;
        font-weight: 500;
    }

    h5 {
        color: var(--primary);
        font-family: "Segoe UI";
        font-size: 18px;
        font-weight: 600;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 48px;
        color: var(--white);
        text-shadow: 2px 2px 4px var(--black);
        font-family: Bodoni MT;
        font-weight: 700;
    }

    h2 {
        font-size: 32px;
        color: #FFF;
        font-family: Bodoni MT;
    }

    h3 {
        color: var(--primary);
        font-family: "Bodoni MT";
        font-size: 24px;
        font-weight: 500;
    }

    h5 {
        color: var(--primary);
        font-family: "Segoe UI";
        font-size: 16px;
        font-weight: 600;
    }
}