<head>
    <link rel="stylesheet" href="../../Assets/CSS/main.css">
    <style>
        
.category-items{
    background-color: #FFF;
    padding: 64px;
    margin: 64px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-items article{
    width: 30%;
    margin-bottom: 16px;
}

.menu-item>figure>img{
    width: 100%;
}

.menu-item>figcaption>header{
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    font-weight: bold;
margin-left: 32px;
margin-right: 32px;
}

.menu-item>figcaption>p{
text-align: start;
margin-left: 32px;
margin-right: 32px;
}

    </style>
</head>
<section id="menu">
    <p style="color: var(--primary); font-family: 'Segoe UI';">Dessert is served from 11:00 am until 9:00 pm</p>
    <section id="menu-categories">
        <section class="menu-category">
            <h3>Desserts</h3>
            <div class="category-items">
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Cream,Cake" alt="Italian Lemon Cream Cake"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Italian Lemon Cream Cake</h5>
                        </header>
                        <p>A refreshing lemon cream filling with a light and fluffy cake base.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Carrot,Cake" alt="Carrot Cake"/></figure>
                    <figcaption>
                        <header>
                            <h5>Carrot Cake</h5>
                        </header>
                        <p>Moist carrot cake with cream cheese frosting and a hint of cinnamon.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cannoli" alt="Cannoli"/></figure>
                    <figcaption>
                        <header>
                            <h5>Cannoli</h5>
                        </header>
                        <p>Crunchy pastry shells filled with sweet, creamy ricotta cheese and chocolate chips.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Chocolate,Cake" alt="Flourless Chocolate Cake"/></figure>
                    <figcaption>
                        <header>
                            <h5>Flourless Chocolate Cake</h5>
                        </header>
                        <p>Rich and dense chocolate cake, perfect for gluten-free chocolate lovers.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Tiramisu" alt="Homemade Tiramisu"/></figure>
                    <figcaption>
                        <header>
                            <h5>Homemade Tiramisu*</h5>
                        </header>
                        <p>Classic Italian dessert with layers of coffee-soaked ladyfingers and mascarpone cream.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Ice,Cream" alt="Homemade Spumoni"/></figure>
                    <figcaption>
                        <header>
                            <h5>Homemade Spumoni</h5>
                        </header>
                        <p>Traditional Italian ice cream with layers of different flavors and fruits.</p>
                    </figcaption>
                </article>
            </div>
        </section>
    </section>
</section>
