<section id="menu">
    <section id="tabs">
        <button>Lunch</button>
        <button>Dinner</button>
        <button><b>Dessert</b></button>
        <button>Wines</button>
    </section>
    <p>Dessert is served from 11:00 am until 9:00 pm</p>
    <section id="menu-categories">
        <section class="menu-category">
            <h3>Desserts</h3>
            <section class="category-items">
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Cream,Cake" alt="Italian Lemon Cream Cake"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Italian Lemon Cream Cake</h5>
                        </header>
                        <p>A refreshing lemon cream filling with a light and fluffy cake base.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Carrot,Cake" alt="Carrot Cake"/></figure>
                    <figcaption>
                        <header>
                            <h5>Carrot Cake</h5>
                        </header>
                        <p>Moist carrot cake with cream cheese frosting and a hint of cinnamon.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cannoli" alt="Cannoli"/></figure>
                    <figcaption>
                        <header>
                            <h5>Cannoli</h5>
                        </header>
                        <p>Crunchy pastry shells filled with sweet, creamy ricotta cheese and chocolate chips.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Chocolate,Cake" alt="Flourless Chocolate Cake"/></figure>
                    <figcaption>
                        <header>
                            <h5>Flourless Chocolate Cake</h5>
                        </header>
                        <p>Rich and dense chocolate cake, perfect for gluten-free chocolate lovers.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Tiramisu" alt="Homemade Tiramisu"/></figure>
                    <figcaption>
                        <header>
                            <h5>Homemade Tiramisu*</h5>
                        </header>
                        <p>Classic Italian dessert with layers of coffee-soaked ladyfingers and mascarpone cream.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Ice,Cream" alt="Homemade Spumoni"/></figure>
                    <figcaption>
                        <header>
                            <h5>Homemade Spumoni</h5>
                        </header>
                        <p>Traditional Italian ice cream with layers of different flavors and fruits.</p>
                    </figcaption>
                </article>
            </section>
        </section>
    </section>
</section>
