<head>
    <link rel="stylesheet" href="../../Assets/CSS/main.css">
    <style>
        
.category-items{
    background-color: #FFF;
    padding: 64px;
    margin: 64px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-items article{
    width: 30%;
    margin-bottom: 16px;
}

.menu-item>figure>img{
    width: 100%;
}

.menu-item>figcaption>header{
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    font-weight: bold;
margin-left: 32px;
margin-right: 32px;
}

.menu-item>figcaption>p{
text-align: start;
margin-left: 32px;
margin-right: 32px;
}

    </style>
</head>
<section id="menu">
    <p style="color: var(--primary); font-family: 'Segoe UI';">Dinner is served from 3:00 pm until 9:00 pm</p>
    <section id="menu-categories">
        <section class="menu-category">
            <h3>Appetizers</h3>
            <section class="category-items">
                <article class="menu-item">
                    <figure>
                        <img class="item-img" src="https://source.unsplash.com/random/300x300/?Caprese"
                            alt="Caprese Salad" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Caprese</h5>
                            <h5>8</h5>
                        </header>
                        <p>Fresh mozzarella, fresh tomatoes, basil leaves sprinkled with EVOO and balsamic
                            vinegar.
                        </p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Shrimp,Cocktail"
                            alt="Shrimp Cocktail" /></figure>
                    <figcaption>
                        <header>
                            <h5>Shrimp Cocktail</h5>
                            <h5>7</h5>
                        </header>
                        <p>Cooked and chilled jumbo shrimp, served with homemade cocktail sauce.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure>
                        <img class="item-img" src="https://source.unsplash.com/random/300x300/?Mussels"
                            alt="Cooked Mussels" /></figure>
                    <figcaption>
                        <header>
                            <h5>Mussels</h5>
                            <h5>6</h5>
                        </header>
                        <p>Fresh mussels sautéed in white wine, garlic, and creamy butter.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Pizza"
                            alt="Homemade Pizza" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>10" Homemade Pizza</h5>
                            <h5>12</h5>
                        </header>
                        <p>Choice of 2 Items - Pepperoni, meatball, sausage, mushroom, black olive, onion,
                            roasted
                            red peppers</p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Soups and Salads</h3>
            <section class="category-items">
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salad"
                            alt="Mixed Green Salad" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Mixed Green Salad</h5>
                            <h5>5</h5>
                        </header>
                        <p>Spring Mix with black olives, tomatoes and carrots served with dressing (Italian,
                            Raspberry Vinaigrette, Bleu Cheese, or Ranch). Add Chicken or Shrimp</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?salad"
                            alt="Ceasar Salad"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Ceasar Salad</h5>
                            <h5>6</h5>
                        </header>
                        <p>Crisp romaine lettuce tossed with Caesar dressing, croutons, parmesan cheese
                            shavings.Add
                            Chicken, Shrimp or Salmon.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?ham"
                            alt="Italian Chef Salad" /></figure>
                    <figcaption>
                        <header>
                            <h5>Italian Chef Salad</h5>
                            <h5>7</h5>
                        </header>
                        <p>An array of leaf lettuce with ham, salami, capicollo meats, mozzarella, and provolone
                            cheeses</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Soup"
                            alt="Miestrone Soup" /></figure>
                    <figcaption>
                        <header>
                            <h5>Miestrone</h5>
                            <h5>6</h5>
                        </header>
                        <p>Fresh vegetables, beans, and pasta in a light tomato broth.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Soup"
                            alt="Soup of the Day" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Soup of the Day</h5>
                            <h5>5</h5>
                        </header>
                        <p>Ask your server about our rotating soup of the day!</p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Entrees</h3>
            <section class="category-items">
                <!-- Baked Lasagna -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Lasagna" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Baked Lasagna</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Layers of cheeses and meat sauce</p>
                    </figcaption>
                </article>

                <!-- Cheese Tortellini -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Tortellini" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Cheese Tortellini</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With red or white Sauce</p>
                    </figcaption>
                </article>

                <!-- Cheese Ravioli -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Ravioli" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Cheese Ravioli</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With red or white sauce</p>
                    </figcaption>
                </article>

                <!-- Gnocchi -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Gnocchi" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Gnocchi</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Tender potato dumplings served with your choice or red or white sauce.</p>
                    </figcaption>
                </article>

                <!-- Manicotti -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Manicotti" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Manicotti</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Pasta shells stuffed with 5-cheeses and spinach. Topped with marinara & melted cheese
                        </p>
                    </figcaption>
                </article>

                <!-- Choice of Pasta -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Pasta" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Choice of Pasta</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With Meat Sauce, Meatballs or Sausage. Spaghetti, linguini, or rigatoni pasta.
                            Gluten-free pasta available upon request ($1.50 extra)</p>
                    </figcaption>
                </article>

                <!-- Eggplant Parmigiana -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Eggplant,Spaghetti" /></figure>
                    <figcaption>
                        <header>
                            <h5>Eggplant Parmigiana</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Tender, breaded eggplant topped with marinara and mozzarella cheese. Served with
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Parmigiana -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Chicken,Spaghetti" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Parmigiana</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Breaded chicken breast topped with marinara & melted mozzarella. Served with
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Marsala -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Marsala" /></figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Marsala</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Sautéed chicken breasts in a savory mushroom sauce. Served over spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Piccata -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Piccata" /></figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Piccata</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Chicken breasts sautéed with white wine, butter, lemon, & capers. Served over
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Cacciatore -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Chicken,Cacciatore" /></figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Cacciatore</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Chicken sautéed in red wine, peppers, mushrooms, marinara sauce. Served with pasta
                            choice.</p>
                    </figcaption>
                </article>

                <!-- Linguini with Clams or Mussels -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Clams,Mussels" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Linguini with Clams or Mussels</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Clams or mussels in a white wine butter garlic sauce. Served over linguini.</p>
                    </figcaption>
                </article>

                <!-- Shrimp Scampi -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Shrimp,Scampi" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Shrimp Scampi</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Shrimp in a white wine butter garlic sauce. Served over linguini.</p>
                    </figcaption>
                </article>

                <!-- Salmone Timoteo -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salmon,Linguini" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Salmone Timoteo</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Salmon served with a white wine, butter, lemon sauce with capers. Served over
                            linguini.</p>
                    </figcaption>
                </article>

                <!-- Shrimp Ernesto -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Shrimp,Sautee" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Shrimp Ernesto</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Shrimp sautéed in Cognac with roasted red peppers, fresh tomato cream sauce. Served
                            over linguini.</p>
                    </figcaption>
                </article>

                <!-- Cioppino -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Cioppino,Linguini" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Cioppino</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Shrimp, mussels, clams, calamari, and scallops in a spicy red sauce. Served over
                            linguini. (Add lobster tail $1.50)</p>
                    </figcaption>
                </article>

                <!-- Salmone Alla Dolce Vino -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salmon,Shrimp" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Salmone Alla Dolce Vino</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Salmon and Shrimp sauteed in Cognac with roasted red peppers, fresh tomato cream
                            sauce. Served over linguini.</p>
                    </figcaption>
                </article>

            </section>
        </section>
    </section>
</section>




<section class="menu-category">
    <h3>Entrees</h3>
    <section class="category-items">
        <!-- Baked Lasagna -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Lasagna" />
            </figure>
            <figcaption>
                <header>
                    <h5>Baked Lasagna</h5>
                    <h5>$15</h5>
                </header>
                <p>Layers of cheeses and meat sauce</p>
            </figcaption>
        </article>

        <!-- Cheese Tortellini -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Tortellini" /></figure>
            <figcaption>
                <header>
                    <h5>Cheese Tortellini</h5>
                    <h5>$15</h5>
                </header>
                <p>With red or white Sauce</p>
            </figcaption>
        </article>

        <!-- Cheese Ravioli -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Ravioli" />
            </figure>
            <figcaption>
                <header>
                    <h5>Cheese Ravioli</h5>
                    <h5>$15</h5>
                </header>
                <p>With red or white sauce</p>
            </figcaption>
        </article>

        <!-- Gnocchi -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Gnocchi" />
            </figure>
            <figcaption>
                <header>
                    <h5>Gnocchi</h5>
                    <h5>$15</h5>
                </header>
                <p>Tender potato dumplings served with your choice or red or white sauce.</p>
            </figcaption>
        </article>

        <!-- Manicotti -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Manicotti" />
            </figure>
            <figcaption>
                <header>
                    <h5>Manicotti</h5>
                    <h5>$15</h5>
                </header>
                <p>Pasta shells stuffed with 5-cheeses and spinach. Topped with marinara & melted cheese
                </p>
            </figcaption>
        </article>

        <!-- Choice of Pasta -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Pasta" />
            </figure>
            <figcaption>
                <header>
                    <h5>Choice of Pasta</h5>
                    <h5>$15</h5>
                </header>
                <p>With Meat Sauce, Meatballs or Sausage. Spaghetti, linguini, or rigatoni pasta.
                    Gluten-free pasta available upon request ($1.50 extra)</p>
            </figcaption>
        </article>

        <!-- Eggplant Parmigiana -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Eggplant,Spaghetti" />
            </figure>
            <figcaption>
                <header>
                    <h5>Eggplant Parmigiana</h5>
                    <h5>$15</h5>
                </header>
                <p>Tender, breaded eggplant topped with marinara and mozzarella cheese. Served with
                    spaghetti.</p>
            </figcaption>
        </article>

        <!-- Chicken Parmigiana -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Chicken,Spaghetti" />
            </figure>
            <figcaption>
                <header>
                    <h5>Chicken Parmigiana</h5>
                    <h5>$15</h5>
                </header>
                <p>Breaded chicken breast topped with marinara & melted mozzarella. Served with
                    spaghetti.</p>
            </figcaption>
        </article>

        <!-- Chicken Marsala -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Marsala" /></figure>
            <figcaption>
                <header>
                    <h5>Chicken Marsala</h5>
                    <h5>$15</h5>
                </header>
                <p>Sautéed chicken breasts in a savory mushroom sauce. Served over spaghetti.</p>
            </figcaption>
        </article>

        <!-- Chicken Piccata -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Piccata" /></figure>
            <figcaption>
                <header>
                    <h5>Chicken Piccata</h5>
                    <h5>$15</h5>
                </header>
                <p>Chicken breasts sautéed with white wine, butter, lemon, & capers. Served over
                    spaghetti.</p>
            </figcaption>
        </article>

        <!-- Chicken Cacciatore -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Chicken,Cacciatore" />
            </figure>
            <figcaption>
                <header>
                    <h5>Chicken Cacciatore</h5>
                    <h5>$15</h5>
                </header>
                <p>Chicken sautéed in red wine, peppers, mushrooms, marinara sauce. Served with pasta
                    choice.</p>
            </figcaption>
        </article>

        <!-- Linguini with Clams or Mussels -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Clams,Mussels" /></figure>
            <figcaption>
                <header>
                    <h5>Linguini with Clams or Mussels</h5>
                    <h5>$15</h5>
                </header>
                <p>Clams or mussels in a white wine butter garlic sauce. Served over linguini.</p>
            </figcaption>
        </article>

        <!-- Shrimp Scampi -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Shrimp,Scampi" /></figure>
            <figcaption>
                <header>
                    <h5>Shrimp Scampi</h5>
                    <h5>$15</h5>
                </header>
                <p>Shrimp in a white wine butter garlic sauce. Served over linguini.</p>
            </figcaption>
        </article>

        <!-- Salmone Timoteo -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salmon,Linguini" />
            </figure>
            <figcaption>
                <header>
                    <h5>Salmone Timoteo</h5>
                    <h5>$15</h5>
                </header>
                <p>Salmon served with a white wine, butter, lemon sauce with capers. Served over
                    linguini.</p>
            </figcaption>
        </article>

        <!-- Shrimp Ernesto -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Shrimp,Sautee" />
            </figure>
            <figcaption>
                <header>
                    <h5>Shrimp Ernesto</h5>
                    <h5>$15</h5>
                </header>
                <p>Shrimp sautéed in Cognac with roasted red peppers, fresh tomato cream sauce. Served
                    over linguini.</p>
            </figcaption>
        </article>

        <!-- Cioppino -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Cioppino,Linguini" />
            </figure>
            <figcaption>
                <header>
                    <h5>Cioppino</h5>
                    <h5>$15</h5>
                </header>
                <p>Shrimp, mussels, clams, calamari, and scallops in a spicy red sauce. Served over
                    linguini. (Add lobster tail $1.50)</p>
            </figcaption>
        </article>

        <!-- Salmone Alla Dolce Vino -->
        <article class="menu-item">
            <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salmon,Shrimp" /></figure>
            <figcaption>
                <header>
                    <h5>Salmone Alla Dolce Vino</h5>
                    <h5>$15</h5>
                </header>
                <p>Salmon and Shrimp sauteed in Cognac with roasted red peppers, fresh tomato cream
                    sauce. Served over linguini.</p>
            </figcaption>
        </article>

    </section>
</section>