<section id="menu">
    <section id="tabs">
        <button><b>Lunch</b></button>
        <button>Dinner</button>
        <button>Dessert</button>
        <button>Wines</button>
    </section>
    <p>Lunch is served from 11:00 am until 3:00 pm</p>
    <section id="menu-categories">
        <section class="menu-category">
            <h3>Appetizers</h3>
            <section class="category-items">
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Caprese" alt="Caprese Salad"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Caprese</h5>
                            <h5>8</h5>
                        </header>
                        <p>Fresh mozzarella, fresh tomatoes, basil leaves sprinkled with EVOO and balsamic
                            vinegar.
                        </p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Shrimp,Cocktail" alt="Shrimp Cocktail"/></figure>
                    <figcaption>
                        <header>
                            <h5>Shrimp Cocktail</h5>
                            <h5>7</h5>
                        </header>
                        <p>Cooked and chilled jumbo shrimp, served with homemade cocktail sauce.</p>
                    </figcaption>
                </article>
                <article>
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cooked,Mussels" alt="Cooked Mussels"/></figure>
                    <figcaption>
                        <header>
                            <h5>Mussels</h5>
                            <h5>6</h5>
                        </header>
                        <p>Fresh mussels sautéed in white wine, garlic, and creamy butter.</p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Sandwiches</h3>
            <section class="category-items">
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Meatball,Sandwich" alt="Homemade Meatball Sandwich"/></figure>
                    <figcaption>
                        <header>
                            <h5>Homemade Meatball</h5>
                            <h5>11</h5>
                        </header>
                        <p>Sliced meatballs, marinara, and melted cheese.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Sausage,Sandwich" alt="Sausage Sandwich"/></figure>
                    <figcaption>
                        <header>
                            <h5>Sausage Sandwich</h5>
                            <h5>12</h5>
                        </header>
                        <p>Sausage topped with marinara and melted cheese.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Italian,Cold,Sub" alt="Italian Cold Sub"/></figure>
                    <figcaption>
                        <header>
                            <h5>Italian Cold Sub</h5>
                            <h5>10</h5>
                        </header>
                        <p>Ham, salami and capicollo meats, mozzarella and provolone cheeses, Italian Dressing
                        </p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Soups and Salads</h3>
            <section class="category-items">
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Salad1" alt="Mixed Green Salad"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Mixed Green Salad</h5>
                            <h5>5</h5>
                        </header>
                        <p>Spring Mix with black olives, tomatoes and carrots served with dressing (Italian,
                            Raspberry Vinaigrette, Bleu Cheese, or Ranch). Add Chicken or Shrimp</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Salad2" alt="Ceasar Salad"/></figure>
                    <figcaption>
                        <header>
                            <h5>Ceasar Salad</h5>
                            <h5>6</h5>
                        </header>
                        <p>Crisp romaine lettuce tossed with Caesar dressing, croutons, parmesan cheese
                            shavings.Add
                            Chicken, Shrimp or Salmon.</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Italian,Chef,Salad3" alt="Italian Chef Salad"/></figure>
                    <figcaption>
                        <header>
                            <h5>Italian Chef Salad</h5>
                            <h5>7</h5>
                        </header>
                        <p>An array of leaf lettuce with ham, salami, capicollo meats, mozzarella, and provolone
                            cheeses</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Soup" alt="Miestrone Soup"/></figure>
                    <figcaption>
                        <header>
                            <h5>Miestrone</h5>
                            <h5>6</h5>
                        </header>
                        <p>Fresh vegetables, beans, and pasta in a light tomato broth.</p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Specials</h3>
            <section class="category-items">
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Pizza" alt="Homemade Pizza"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>10" Homemade Pizza</h5>
                            <h5>12</h5>
                        </header>
                        <p>Choice of 2 Items - Pepperoni, meatball, sausage, mushroom, black olive, onion,
                            roasted
                            red peppers</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Pizza, Salad" alt="Lunch Special for 2: Salad and Pizza"/></figure>
                    <figcaption>
                        <header>
                            <h5>Lunch Special for 2</h5>
                            <h5>15</h5>
                        </header>
                        <p>Combination of a salad and a pizza</p>
                    </figcaption>
                </article>
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Soup" alt="Soup of the Day"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Soup of the Day</h5>
                            <h5>5</h5>
                        </header>
                        <p>Ask your server about our rotating soup of the day!</p>
                    </figcaption>
                </article>
            </section>
        </section>

        <section class="menu-category">
            <h3>Entrees</h3>
            <section class="category-items">
                <!-- Baked Lasagna -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Lasagna" alt="Baked Lasagna"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Baked Lasagna</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Layers of cheeses and meat sauce</p>
                    </figcaption>
                </article>

                <!-- Cheese Tortellini -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Tortellini" alt="Cheese Tortellini"/></figure>
                    <figcaption>
                        <header>
                            <h5>Cheese Tortellini</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With red or white Sauce</p>
                    </figcaption>
                </article>

                <!-- Cheese Ravioli -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Ravioli" alt="Cheese Ravioli"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Cheese Ravioli</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With red or white sauce</p>
                    </figcaption>
                </article>

                <!-- Gnocchi -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Gnocchi" alt="Gnocchi"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Gnocchi</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Tender potato dumplings served with your choice or red or white sauce.</p>
                    </figcaption>
                </article>

                <!-- Manicotti -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Manicotti" alt="Manicotti"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Manicotti</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Pasta shells stuffed with 5-cheeses and spinach. Topped with marinara & melted cheese
                        </p>
                    </figcaption>
                </article>

                <!-- Choice of Pasta -->
                <article class="menu-item">
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Pasta" alt="Choice of Pasta"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Choice of Pasta</h5>
                            <h5>$15</h5>
                        </header>
                        <p>With Meat Sauce, Meatballs or Sausage. Spaghetti, linguini, or rigatoni pasta.
                            Gluten-free pasta available upon request ($1.50 extra)</p>
                    </figcaption>
                </article>

                <!-- Eggplant Parmigiana -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Eggplant,Spaghetti" alt="Eggplant Parmigiana"/></figure>
                    <figcaption>
                        <header>
                            <h5>Eggplant Parmigiana</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Tender, breaded eggplant topped with marinara and mozzarella cheese. Served with
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Parmigiana -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Chicken,Spaghetti" alt="Chicken Parmigiana"/></figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Parmigiana</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Breaded chicken breast topped with marinara & melted mozzarella. Served with
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Marsala -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cooked,Chicken3" alt="Chicken Marsala"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Marsala</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Sautéed chicken breasts in a savory mushroom sauce. Served over spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Piccata -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cooked,Chicken" alt="Chicken Piccata"/>
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Piccata</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Chicken breasts sautéed with white wine, butter, lemon, & capers. Served over
                            spaghetti.</p>
                    </figcaption>
                </article>

                <!-- Chicken Cacciatore -->
                <article class="menu-item">
                    <figure><img class="item-img"
                            src="https://source.unsplash.com/random/300x300/?Cooked,Chicken2" alt="Chicken Cacciatore"/></figure>
                    <figcaption>
                        <header>
                            <h5>Chicken Cacciatore</h5>
                            <h5>$15</h5>
                        </header>
                        <p>Chicken sautéed in red wine, peppers, mushrooms, marinara sauce. Served with pasta
                            choice.</p>
                    </figcaption>
                </article>
            </section>
        </section>
    </section>
</section>