<head>
    <link rel="stylesheet" href="../../Assets/CSS/main.css">
    <style>
        
.category-items{
    background-color: #FFF;
    padding: 64px;
    margin: 64px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-items article{
    width: 30%;
}
    </style>
</head>
<section id="menu">
    <p style="color: var(--primary); font-family: 'Segoe UI';">Drinks are served from 11:00 am until 9:00 pm</p>
    <section id="menu-categories">
        <section id="menu-categories">

            <!--Red Wines-->
            <section class="menu-category">
                <h3>Red Wines</h3>
                <section class="category-items">

                    <!-- Chianti Classico -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,12"
                                alt="House Red" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>House Red</h5>
                                <h5>6/24</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Chianti Classico -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,1"
                                alt="Chianti Classico" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Chianti Classico</h5>
                                <h5>8/40</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Pinot Noir -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,2"
                                alt="Pinot Noir" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Pinot Noir</h5>
                                <h5>9/45</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Merlot -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,3"
                                alt="Merlot" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Merlot</h5>
                                <h5>7/35</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Red Blend -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,4"
                                alt="Red Blend" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Red Blend</h5>
                                <h5>7/35</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Cabernet Sauvignon -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,5"
                                alt="Cabernet Sauvignon" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Cabernet Sauvignon</h5>
                                <h5>8/40</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Zinfandel -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,6"
                                alt="Zinfandel" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Zinfandel</h5>
                                <h5>9/45</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Tempranillo -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,7"
                                alt="Tempranillo" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Tempranillo</h5>
                                <h5>8/40</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Malbec -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,8"
                                alt="Malbec" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Malbec</h5>
                                <h5>7/35</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Shiraz/Syrah -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,9"
                                alt="Shiraz/Syrah" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Shiraz/Syrah</h5>
                                <h5>7/35</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Amarone -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,10"
                                alt="Amarone" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Amarone</h5>
                                <h5>8/40</h5>
                            </header>
                        </figcaption>
                    </article>

                    <!-- Brunello di Montalcino -->
                    <article>
                        <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?Red,wine,11"
                                alt="Brunello di Montalcino" />
                        </figure>
                        <figcaption>
                            <header>
                                <h5>Brunello di Montalcino</h5>
                                <h5>9/45</h5>
                            </header>
                        </figcaption>
                    </article>
                </section>
            </section>
        </section>

        <!--White Wines-->
        <section class="menu-category">
            <h3>White Wines</h3>
            <section class="category-items">

                <!-- House White -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?white,wine,6"
                            alt="Pinot Grigio" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>House White</h5>
                            <h5>6/24</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Pinot Grigio -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?white,wine,1"
                            alt="Pinot Grigio" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Pinot Grigio</h5>
                            <h5>8/40</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Riesling -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?white,wine,2"
                            alt="Riesling" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Riesling</h5>
                            <h5>7/35</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Chardonnay -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?white,wine,3"
                            alt="Chardonnay" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Chardonnay</h5>
                            <h5>8/40</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Sauvignon Blanc -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?white,wine,4"
                            alt="Sauvignon Blanc" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Sauvignon Blanc</h5>
                            <h5>9/45</h5>
                        </header>
                    </figcaption>
                </article>
            </section>
        </section>

        <!--Sparkling Wines-->
        <section class="menu-category">
            <h3>Sparkling & Rosé</h3>
            <section class="category-items">

                <!-- Prosecco -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?sparkling,wine,1"
                            alt="Prosecco" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Prosecco</h5>
                            <h5>6/30</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Rosé -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?rose,wine,2"
                            alt="Rosé" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Rosé</h5>
                            <h5>7/35</h5>
                        </header>
                    </figcaption>
                </article>

                <!-- Lambrusco -->
                <article>
                    <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?sparkling,wine,3"
                            alt="Lambrusco" />
                    </figure>
                    <figcaption>
                        <header>
                            <h5>Lambrusco</h5>
                            <h5>8/40</h5>
                        </header>
                    </figcaption>
                </article>
            </section>
        </section>
    </section>

    <section class="menu-category">
        <h3>Beer</h3>
        <section class="category-items">
            <!-- Peroni -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,1" alt="Peroni" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Peroni</h5>
                        <h5>5</h5>
                    </header>
                </figcaption>
            </article>
            <!-- Stella -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,2" alt="Stella" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Stella</h5>
                        <h5>5</h5>
                    </header>
                </figcaption>
            </article>
            <!-- Blue Moon -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,3"
                        alt="Blue Moon" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Blue Moon</h5>
                        <h5>5</h5>
                    </header>
                </figcaption>
            </article>
            <!-- Bud Light -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,4"
                        alt="Bud Light" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Bud Light</h5>
                        <h5>4</h5>
                    </header>
                </figcaption>
            </article>
            <!-- Miller Lite -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,5"
                        alt="Miller Lite" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Miller Lite</h5>
                        <h5>4</h5>
                    </header>
                </figcaption>
            </article>
            <!-- Seasonal Featured Beers -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?beer,6"
                        alt="Seasonal Featured Beers" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Seasonal Featured Beers</h5>
                        <h5>6</h5>
                    </header>
                </figcaption>
            </article>
        </section>
    </section>

    <!--Spirits-->
    <section class="menu-category">
        <h3>Premium Spirits</h3>
        <section class="category-items">

            <!-- Grey Goose Vodka -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?vodka,1"
                        alt="Grey Goose Vodka" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Grey Goose Vodka</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Titos Vodka -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?vodka,2"
                        alt="Titos Vodka" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Titos Vodka</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Bombay Sapphire Gin -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?gin,1"
                        alt="Bombay Sapphire Gin" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Bombay Sapphire Gin</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Tangueray Gin -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?gin,2"
                        alt="Tangueray Gin" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Tangueray Gin</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Bacardi Silver Rum -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?rum,1"
                        alt="Bacardi Silver Rum" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Bacardi Silver Rum</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Knob Creek -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?whiskey,1"
                        alt="Knob Creek" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Knob Creek</h5>
                        <h5>8/15</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Crown Royal -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?whiskey,2"
                        alt="Crown Royal" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Crown Royal</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Kahlua -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,1"
                        alt="Kahlua" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Kahlua</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Bailey's -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,2"
                        alt="Bailey's" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Bailey's</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Frangelico -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,3"
                        alt="Frangelico" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Frangelico</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- DiSaronno Amaretto -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,4"
                        alt="DiSaronno Amaretto" />
                </figure>
                <figcaption>
                    <header>
                        <h5>DiSaronno Amaretto</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Dupeyrat Cognac -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?cognac,1"
                        alt="Dupeyrat Cognac" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Dupeyrat Cognac</h5>
                        <h5>9/17</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Hennessy -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?cognac,2"
                        alt="Hennessy" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Hennessy</h5>
                        <h5>9/17</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Dewars Scotch -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?scotch,1"
                        alt="Dewars Scotch" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Dewars Scotch</h5>
                        <h5>7/13</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Glenlivet 12yr Scotch -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?scotch,2"
                        alt="Glenlivet 12yr Scotch" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Glenlivet 12yr Scotch</h5>
                        <h5>10/19</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Limoncello -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,5"
                        alt="Limoncello" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Limoncello</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Sambuca -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,6"
                        alt="Sambuca" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Sambuca</h5>
                        <h5>6/11</h5>
                    </header>
                </figcaption>
            </article>

            <!-- Grappa -->
            <article>
                <figure><img class="item-img" src="https://source.unsplash.com/random/300x300/?liqueur,7"
                        alt="Grappa" />
                </figure>
                <figcaption>
                    <header>
                        <h5>Grappa</h5>
                        <h5>8/15</h5>
                    </header>
                </figcaption>
            </article>
            
        </section>
    </section>
</section>
</section>